@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

#regras,
#palavraNaoEncontrada,
#palavraIncompleta {

    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

#regras.show,
#palavraNaoEncontrada.show,
#palavraIncompleta.show {
    opacity: 1;
    visibility: visible;
}


* {
    margin: 0;
    padding: 0;
}

.body {
    box-sizing: border-box;
    background-color: #51B0E0;
}

.overlay, .vitoria-overlay, .derrota-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #F4FDFF;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.overlay-content, .vitoria-overlay-content, .derrota-overlay-content {
    background-color: #19618B;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-left: 18.5%;
    margin-right: 18.5%;
}

.overlay.show, .vitoria-overlay.show, .derrota-overlay.show {
    visibility: visible;
    opacity: 1;
}

.derrota-overlay-content  {
    font-size: 2.5rem;
    font-family: 'Libre Baskerville', sans-serif;
}

.titulo-vitoria {
    font-size: 3.5rem;
    font-family: 'Libre Baskerville', sans-serif;
}

.texto-vitoria {
    font-size: 2rem;
    font-family: 'Libre Baskerville', sans-serif;
}

.titulo-derrota {
    font-size: 5rem;
    font-family: 'Libre Baskerville', sans-serif;
}

.texto-derrota {
    font-size: 2rem;
    font-family: 'Libre Baskerville', sans-serif;
}

.aviso-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #F4FDFF;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.aviso-overlay.show {
    visibility: visible;
    opacity: 1;
}

.aviso-overlay-content {
    background-color: #19618B;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-left: 18.5%;
    margin-right: 18.5%;
    color: #F4FDFF;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1.75rem;

}

  .paragrafos {
    font-size: 1.5rem;
  }

  .div-exemplo-tentativa-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;
    margin-bottom: 1%;
  }

  .exemplo-tentativa-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 3.13rem;
    height: 3.13rem;
    color: #F4FDFF;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1.75rem;
    text-transform: uppercase;
    background-color: #617D8B;
    border-radius: 10%;
    margin-left: 0.2%;
    margin-right: 0.2%;
  }

  .exemplo-tentativa-1::placeholder {
    color: #F4FDFF;
  }
  
  .texto-tentativa-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2px;
  }

  .letra-tentativa-1 {
    width: 3.13rem;
    height: 3.13rem;
    color: #F4FDFF;
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
    font-size: 1.75rem;
    text-transform: uppercase;
    background-color: #6AA84F;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
  }

  .letra-2-tentativa-1 {
    width: 3.13rem;
    height: 3.13rem;
    color: #F4FDFF;
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
    font-size: 1.75rem;
    text-transform: uppercase;
    background-color: #6AA84F;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    margin-left: 0.2%;
    margin-right: 0.2%;
  }

  .letra-tentativa-1::placeholder {
    color: #F4FDFF;
  }

  .div-exemplo-tentativa-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;
    margin-bottom: 1%;
  }

  .exemplo-tentativa-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 3.13rem;
    height: 3.13rem;
    color: #F4FDFF;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1.75rem;
    text-transform: uppercase;
    background-color: #617D8B;
    border-radius: 10%;
    margin-left: 0.2%;
    margin-right: 0.2%;
  }

  .exemplo-tentativa-2::placeholder {
    color: #F4FDFF;
  }
  
  .texto-tentativa-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2px;
  }

  .letra-tentativa-2 {
    width: 3.13rem;
    height: 3.13rem;
    color: #F4FDFF;
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
    font-size: 1.75rem;
    text-transform: uppercase;
    background-color: #FFD966;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
  }

  .letra-2-tentativa-2 {
    width: 3.13rem;
    height: 3.13rem;
    color: #F4FDFF;
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
    font-size: 1.75rem;
    text-transform: uppercase;
    background-color: #FFD966;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    margin-left: 0.2%;
    margin-right: 0.2%;
  }

  .letra-tentativa-2::placeholder {
    color: #F4FDFF;
  }

  .div-exemplo-tentativa-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;
    margin-bottom: 1%;
  }

  .exemplo-tentativa-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 3.13rem;
    height: 3.13rem;
    color: #F4FDFF;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1.75rem;
    text-transform: uppercase;
    background-color: #617D8B;
    border-radius: 10%;
    margin-left: 0.2%;
    margin-right: 0.2%;
  }

  .exemplo-tentativa-3::placeholder {
    color: #F4FDFF;
  }
  
  .texto-tentativa-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2px;
  }

  .letra-tentativa-3 {
    width: 3.13rem;
    height: 3.13rem;
    color: #F4FDFF;
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
    font-size: 1.75rem;
    text-transform: uppercase;
    background-color: #434343;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
  }

  .letra-2-tentativa-3 {
    width: 3.13rem;
    height: 3.13rem;
    color: #F4FDFF;
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
    font-size: 1.75rem;
    text-transform: uppercase;
    background-color: #434343;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    margin-left: 0.2%;
    margin-right: 0.2%;
  }


  .letra-tentativa-3::placeholder {
    color: #F4FDFF;
  }

  .letra-2-tentativa-1::placeholder {
    color: #F4FDFF;
  }

  .letra-2-tentativa-2::placeholder {
    color: #F4FDFF;
  }

  .letra-2-tentativa-3::placeholder {
    color: #F4FDFF;
  }

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.001%;
    margin-bottom: 0.01%;
}

.header-botao-regras {
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 100%;
    background-color: #6099B6;
}

.header-imagem-regras {
    height: 2vw;
    width: 2vw;
}

.header-titulo {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 5vw;
    margin-left: 18.25%;
    margin-right: 18.25%;
}

.header-botao-restart {
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 100%;
    background-color: #6099B6;
    justify-content: center;
}

.header-img-restart {
    height: 2vw;
    width: 2vw;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vw;
}

.main-input {
    width: 4vw;
    height: 4vw;
    color: #F4FDFF;
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
    font-size: 2vw;
    margin: 0.1vw;
    text-transform: uppercase;
    background-color: #6099B6;
    border-radius: 10%;
}

.main-input:focus {
    outline: none;
    padding: 1px;
    caret-color: transparent;
}

.main-input:disabled {
    background-color: #617D8B;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.footer-teclado {
    width: 4vw;
    height: 4vw;
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
    font-size: 2vw;
    background-color: #6099B6;
    border-radius: 10%;
    cursor: pointer;
    user-select: none;
    margin-bottom: 1%;
}

.teclado-linha2 {
    display: flex;
    align-items: center;
}

.div-backspace-button {
    width: 4vw;
    height: 4vw;
    align-items: center;
    justify-content: center;
    background-color: #6099B6;
    cursor: pointer;
    border-radius: 10%;
    margin-bottom: 10%;
    margin-left: 6.7%;
}

.div-backspace-image {
    width: 3.5vw;
    height: 3.5vw;
    align-items: center;
    justify-content: center;

}

.teclado-linha3 {
    display: flex;
}

.correto {
    background-color: #6AA84F;
}

.incorreto {
    background-color: #FFD966;
}

.nao-na-palavra {
    background-color: #434343;
}

.div-enter-button {
    width: 8vw;
    height: 4vw;
    align-items: center;
    justify-content: center;
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
    font-size: 2vw;
    background-color: #6099B6;
    cursor: pointer;
    border-radius: 8%; 
    margin-left: 3%;   
}

@media only screen and (max-width: 800px) {
  
  .exemplo-tentativa-1,
  .exemplo-tentativa-2,
  .exemplo-tentativa-3,
  .letra-2-tentativa-1,
  .letra-2-tentativa-2,
  .letra-2-tentativa-3,
  .letra-tentativa-1,
  .letra-tentativa-2,
  .letra-tentativa-3{
      width: 4.5vh;
      height: 4.5vh;
      font-size: 3vh;
  }

  .texto-tentativa-1,
  .texto-tentativa-2,
  .texto-tentativa-3 {
    gap: 2px;
  }

  .overlay-content {
    margin-left: 5%;
    margin-right: 5%;
  }

  .paragrafos {
    font-size: 3.5vw;
  }

  .header-titulo {
    font-size: 8vh;
    margin-left: 6vw;
    margin-right: 6vw;
  }

  .header-botao-regras, .header-botao-restart {
    height: 3vh;
    width: 3vh;
  }

  .header-imagem-regras, .header-img-restart {
    height: 2vh;
    width: 2vh;
  }

  .main-input {
      width: 7vh;
      height: 7vh;
      font-size: 4vh;
  }

  .footer-teclado {
    width: 8vw;
    height: 6vh;
    font-size: 3vh;
  }

  .div-backspace-button {
    width: 6vw;
    height: 6vh;
  }

  .div-backspace-image {
    width: 100%;
    height: auto;
  }

  .div-enter-button {
    width: 12vh;
    height: 6vh;
    font-size: 3vh;
  }
}

@media only screen and (max-width: 400px) {

  .header-titulo {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .main-input {
    width: 15vw;
    height: 15vw;
  }
}

@media only screen and (min-height: 900px) {

  .overlay-content, .vitoria-overlay-content, .derrota-overlay-content, .aviso-overlay-content {
    margin-bottom: 40vh;
} 

.overlay-content {
  margin-left: 5%;
  margin-right: 5%;
}

.main-input {
  width: 4.5vh;
  height: 4.5vh;
  font-size: 2.5vh;
}

.footer-teclado {
  width: 8vw;
  height: 5vh;
  font-size: 3vh;
}

.div-enter-button {
  width: 11vh;
  height: 5vh;
  font-size: 3vh;
}

.div-backspace-button {
  width: 5vw;
  height: 5vh;
}

.div-backspace-image {
  width: 100%;
  height: auto;
}

}