@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body {
    box-sizing: border-box;
    background-color: #51B0E0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.header-botao-regras {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #6099B6;
}

.header-imagem-regras {
    height: 22px;
    width: 22px;
}

.header-titulo {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 4rem;
    margin-left: 20%;
    margin-right: 20%;
}

.header-botao-restart {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #6099B6;
    justify-content: center;
}

.header-img-restart {
    height: 24px;
    width: 24px;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 1%;
}

.main-input {
    width: 50px;
    height: 50px;
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
    font-size: 1.75rem;
    text-transform: uppercase;
    background-color: #6099B6;
    border-radius: 10%;
}

.main-input:disabled {
    width: 50px;
    height: 50px;
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #617D8B;
    border-radius: 10%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-teclado {
    width: 60px;
    height: 60px;
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
    font-size: 2rem;
    background-color: #6099B6;
    border-radius: 10%;
    cursor: pointer;
    user-select: none;
    margin-bottom: 1%;
}

.teclado-linha2 {
    display: flex;
    align-items: center;
    gap: 8px;
}

.div-backspace-button {
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: #6099B6;
    cursor: pointer;
    border-radius: 10%;
}

.div-backspace-image {
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.teclado-linha3 {
    display: flex;
    gap: 5px;
}

.div-enter-button {
    width: 130px;
    height: 60px;
    align-items: center;
    justify-content: center;
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
    font-size: 2rem;
    background-color: #6099B6;
    cursor: pointer;
    border-radius: 10%;    
}

@media only screen and (max-width: 650px) {
    
    .main {
        margin-bottom: 5%;
    }
    
    .footer-teclado {
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 1.75rem;
    }

    .div-backspace-button {
        width: 50px;
        height: 50px;
        background-color: #6099B6;
    }

    .div-backspace-image {
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
    }

    .div-enter-button {
        width: 120px;
        height: 50px;
        font-size: 1.75rem;
    }

}

@media only screen and (max-width: 550px) {
    
    .header {
        margin-bottom: 5%;
    }

    .main {
        margin-bottom: 12%;
    }
    
    .footer-teclado {
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1%;
    }

    .div-backspace-button {
        width: 40px;
        height: 40px;
        background-color: #6099B6;
    }

    .div-backspace-image {
        width: 25px;
        height: 25px;
        align-items: center;
        justify-content: center;
    }

    .div-enter-button {
        width: 120px;
        height: 40px;
        font-size: 1.5rem;
    }

}